﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <link href="~/bootstrap4.0.0/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    @RenderBody()

    <script src="~/bootstrap4.0.0/js/jquery-3.2.1.slim.min.js"></script>
    <script src="~/bootstrap4.0.0/js/popper.min.js"></script>
    <script src="~/bootstrap4.0.0/js/bootstrap.min.js"></script>

    @RenderSection("JavaScript", false)


</body>
</html>
