﻿@model IEnumerable<HelloWorld.Models.Article>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

@foreach (var item in Model) {
    <b>@item.Title</b>
}
